@import url('https://fonts.googleapis.com/css?family=Open+Sans');
html,body{
  font-family: 'Open Sans', sans-serif;
  margin :0;
  padding : 0;
  border : 0 none;
  height: 100%;
  font-weight: 300;
}
ol,ul, li{
  list-style-type: none;
}
select{
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  -ms-appearance: none;
  appearance: none!important;
  background: #ffffff;
  box-shadow: none;
  border: none;
  color: #666666;
  font-weight: 300;
}
input[type=text] {
    border:none;
    background:none;
    outline:none;
    padding:0;
    font-size: 14px;
    font-weight: 300;
}
.container{
  width: 1054px;
  background-color: #ffffff;
  padding: 20px 45px  15px 45px ;
  border: 1px solid;
  border-color:  #666666;
  margin: 5px auto 5px;
  color: #666666
}
.logo{
  background-image: url(img/logo.png);
  width: 145px;
  height: 32px;
  display: inline-block;
  position: absolute;;
}
.menu{
  display: none;
}
.enter{
  display: none;
}
.line{
  width: 1023.6px;
  margin-top: 20px;
}
.header_nav{
  left: 565px;
  font-size:12px;
  position: relative;
  display: inline;
}
.header_nav_item{
  background-color: #ffffff;
  border: 1px solid #aaaaaa;
  display: inline-block;
  font-weight: 800;
  height: 24px;
  padding: 5px 2% 0;
}
.header_nav_item_gear{
  background-color: #ffffff;
  border: 1px solid #aaaaaa;
  display: inline-block;
  font-weight: 800;
  height: 29px;
  margin: 0 0 -11px;
  padding: 0 20px;
  width: 44px;
}
.nav_item_inner{
    padding: 1px 1px;
}
.arrow{
  width: 12px;
  height: 9px;
  padding: 0 0 0 8px;
}
.gear{
  height: 20px;
  width: 20px;
  position: absolute;
  margin: -3px 14px;
}
.icon_list{
  display: inline-block;
  height: 206px;
}
.icon_list_item{
  width: 125px;
  display: inline-block;
  margin:0 30px ;
}
.icon_list_item span{
   height: 44px;
   font-size: 16px;
   font-weight: bold;
   line-height: 1.38;
   letter-spacing: 1.4px;
   text-align: center;
   color: #666666;
   width: 125px;
   display: flex;
   margin-bottom: 15px;
}
.icon_list_item:first-of-type span{
    color: #1469eb;
}
.icon_list_img{
  height: 100px;
  margin-left: 10px;
}
.tagline{
  width: 110px;
}
section h1{
  margin:0 auto;
  height: 22px;
  font-size: 16px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 1.4px;
  text-align: center;
  color: #666666;
}
section h2{
  margin: 0 auto;
  height: 22px;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 1.4px;
  text-align: center;
  color: #666666;
}
.currency_table_mobile{
display: none;
}
.currency_table{
  margin: 25px auto;
  width: 964px;
  height: 185px;
  background-color: #ffffff;
   border: 0.5px solid #aaaaaa;
  margin-bottom: 0;
}
.currency_table_title{
  height: 22px;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 1.4px;
  text-align: center;
  color: #aeaeae;
  display: inline-flex;
}
.currency_table_title span{
 margin: 15px 186px 0 198px;
}
.currency_table_line{
  width: 430px;
  border: 0;
  border-bottom: solid 1px #aeaeae;
  margin: 10px 20px 0 25px;
  display: inline-flex;
}

.currency_table li{
  display: inline-flex;
  background-color: #ffffff;
  border: solid 0.8px #aaaaaa;
  font-size: 14px;
  font-weight: 300;
  height: 30px;
  padding: 3px 10px 0 13px;
  margin: 0 8px;
}
.currency_table li:first-of-type{
  margin-left: 0;
}
li input{
  height: 32px;
  width: 98px;
  margin: 0px -5px;
  font-size: 14px;
  font-weight: 300;
  color: #666666;
}
.currency_table .eq{
  width: 11px;
  height: 24px;
  object-fit: contain;
  font-size: 18px;
  text-align: center;
  border: none;
}
.currency_select{
  width: 30px;
  background-image: url("img/strelka7.png");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 20px;
  height: 24px;
  font-size: 14px;
  font-weight: 300;
  color: #666666;
  width: 75px;
}
.currency_table ul{
    margin: 15px 0;
  }
.currency_table select{
  width: 100%:
  margin: 3px 0 0;
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: right;
  margin: 3px 0;
}
.currency_payment{
  width: 126px;
}
.currency_payment option{
  background-position: right center;
  background-repeat: no-repeat;
}
.currency_table option{
  padding: 9px;
}
.currency_select option{
  padding: 0 19px;
}
.payment_icon{
    height: 16px;
    padding: 0 4px;
}
.currency_arrow{
  width: 12px;
  height: 9px;
  padding: 8px 5px 0 8px;
}
.exchange_rate{
  color: #aeaeae;
  font-size: 20px;
  font-weight: 600;
  margin: -70px 0 0;
  padding: 13px 0;
  text-align: center;
}
.currency_table_double_line{
  width: 918px;
  height: 3px;
  border-bottom: solid 1px #aeaeae;
  margin: 0 22px 12px 22px;
}
.exchange_rate span{
  font-weight: 800;
}
.contact{
  display: inline-flex;
  margin: 0 auto;
  height: 85px;
  font-size: 14px;
  font-weight: normal;
  padding-top: 33px;
  background: linear-gradient(90deg,#FFFFFF, #DFEBFF, #FFFFFF);
}
.contact_target{
  display: inline-flex;
  }
.contact span{
  margin:0 50px;
}
.contact_target select{
  width: 285px;
   height: 30px;
   background-color: #ffffff;
   font-size: 14px;
   font-weight: 300;
   color: #666666;
   background-size: 10px;
   background-repeat: no-repeat;
   background-position: right;
}
.contact_target_select{
  width: 297px;
  height: 30px;
  border: solid 0.8px #666666;
  background: #ffffff;
}
.contact_target option{
  margin: 9px;
}
.client_contact input{
  width: 297px;
  height: 30px;
  background-color: #ffffff;
  border: solid 0.8px #666666;
}
.client_contact{
  display: inline-flex;
}
.contact_line{
  width: 964px;
  border-bottom:  solid 0.6px #aeaeae;
  margin: 0 auto;
}
.request_button{
  width: 270px;
  height: 37px;
  font-size: 14px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #1469eb;
  object-fit: contain;
  border-radius: 0;
  box-shadow: 0 0 0.1em #666666;
  background-color: #ffffff;
  margin: 0 auto;
  display: flex;
  border-style: solid;
  margin: 30px auto;
  padding: 0 55px;

}
article{
  margin: 42px auto 0 ;
  width: 964px;
  border-style: solid;
  border-width: 1px;
  border-image-source: linear-gradient(to top, #999999, rgba(102, 102, 102, 0.86) 7%, rgba(102, 102, 102, 0) 50%, rgba(102, 102, 102, 0.86) 93%, #999999);
  border-image-slice: 1;
  display: block;
  border-collapse: collapse ;
}
.article_title{
    text-align: center;
    width: 280px;
     height: 22px;
     margin: -13px 344px 0;
     font-size: 16px;
     font-weight: 800;
     font-style: normal;
     font-stretch: normal;
     letter-spacing: 1.4px;
     text-align: center;
     color: #666666;
     background-color: #ffffff;
}
.column{
  width: 435px;
  display: table-cell;
  font-size: 14px;
  font-weight: 300;
  color: #535353;
  margin: -70px 0 0;
  padding: 13px 30px;
  text-align: left;

}
.socials_mobile{
  display: none;
}
.socials{
  display: flex;
  width: 100%;
  margin: 33px auto;
}
.socials ul {
  display: inline;
  margin: 10px;
}
.socials li{
  display: inline;
}
.socials li {
  background-size: 24px;
    /*width: 24px;*/
}
.socials span{
  margin: auto 40px 17px 380px;
  font-size: 16px;
  font-weight: bold;

}
nav{
  display: block;
  width: 963.6px;
  height: 31.2px;
  border: solid 1px #E2ECFC;
  margin: 0 auto;
}
nav ul{
    margin: 5px -20px 0;
}
nav li{
  display: inline-block;
}
nav ul img{
  width: 13px;
  margin: 0 45px;
}
.footer_mobile{
  display: none;
}
.footer_row{
  display: inline-flex;
  font-size: 12px;
  font-weight: normal;
  margin: 22px 0;
}
.footer_column{
  display: block;
  margin: 0 18px  ;
  padding: 0 22px;
  text-align: center;
}
.footer_column li{
  margin: 10px 0 ;
}
footer_column:last-child{
  margin-top: 3px;
}
.footer_line{
  margin-top: 2px;
  width: 120px;
  border-style: solid;
  border-width: 1px;
  border-image-source: linear-gradient(to right, rgba(102, 102, 102, 0), #666666 50%, rgba(102, 102, 102, 0));
  border-image-slice: 1;
}
.footer_socials{
  display: block;
  padding: 0 6px;
  width: 22px;
}
footer_socials img{
  width: 15px;
}

@media screen and (max-width: 700px) {
     .container {
       width: 320px;
       overflow: hidden;
       padding-bottom: 30px;
     }
     header{
       display: block;
       height: 40px;
     }
     .logo{
       display: inline;
       margin: 10px 25px;
       height: 22px;
       width: 110px;
     }
     .menu{
       display: inline;
       margin: 0 25px;
     }
     .enter{
      color: #114fe5;
      display: flex;
      font-size: 12px;
      font-weight: 800;
      letter-spacing: 0;
      margin: -40px 300px;
      right: 25px;
      width: 36px;
     }
     .enter span{
      margin-left: -40px;
     }
     .header_nav{
       display: none;
     }
     .menu_img{
       width: 25px;
       height: 25px;
       padding: 10px 0;
     }
     .enter_img{
       width: 45px;
       height: 17px;
       margin: 0px;
     }
     .line{
       display: none;
     }
     .icons_list{
       display: none;
     }
     section h1{
      margin: 30px auto 0;
     }
     .currency_table{
       display: none;
     }
     .currency_table_mobile{
      display: block;
      margin: 30px auto;
      width: 300px;
      height: 155px;
      background-color: #ffffff;
      border: solid 1px #aeaeae;
     }

    .currency_table_title span {
        margin: 12px 0 17px 109px;
    }
    .currency_table_mobile input{
      width: 270px;
      height: 30px;
      background-color: #ffffff;
      border: solid 0.8px #666666;
      margin: 10px 15px;
    }
    .currency_table_mobile select {
    background-color: #ffffff;
    /*border: solid 0.8px #666666;*/
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 10px auto;
    display: inline;
    width: 100%
    /*margin: 9px 0 0 15px;
    height: 30px;*/
   }
   .currency_payment{
     background-color: #ffffff;
     width: 180px;
     border: 0.8px solid #666666;
     height: 30px;
     margin: 9px 25px 0 15px;
     display: inline-block;
   }
   .currency_payment select{
     width: 160px;
     height: 28px;
   }

   .currency_select{
     background-color: #ffffff;
     width: 75px;
     border: 0.8px solid #666666;
     height: 30px;
     margin: 9px 15px 0 0;
     display: inline-block;
   }
   .currency_select select{
     width: 65px;
     height: 28px;
   }
   .currency_table_raw{
     display: flex;
   }
  .currency_table_double_line{
    width: 300px;
    border-bottom: solid 1px #aeaeae;
  }
  .contact{
    background-color: #ffffff;
    background: rgba(0, 0, 0, 0) radial-gradient(#ffffff, #ffffff) repeat scroll 0 0;
    display: block;
    padding-top: 15px;
    margin: 0 15px;
  }
  .contact span {
    margin: 0;
  }
  .contact_target{
    display: block;
  }
  .client_contact{
    display: block;
  }

  .contact_line {
      border-bottom: 2px solid #aeaeae;
      margin: 45px auto;
      width: 300px;
  }
  article{
    width: 300px;
  }
  .article_title{
    margin: -13px 10px 0;
  }
  .column_big{
    display: none;
  }
  .column{
      width: 280px;
  }
  .socials{
    display: none;
  }
  .socials_mobile{
    display: inline-block;
  }

  .socials_mobile span {
    font-size: 16px;
    font-weight: bold;
    margin: auto 40px 17px 90px;
  }
  .socials_mobile ul{
    display: flex;
    margin: 15px 20px;
  }
  .socials_mobile li {
    background-size: 50px;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
  }
  footer{
    display: none;
  }
  .footer_row{
    margin: 0;
  }
  .footer_mobile{
    display: block;
    height: 530px;
    padding-bottom: 10px;
  }
  nav ul img {
      margin: 0 25px;
      width: 13px;
  }
  nav ul{
    display: flex;
  }
  nav{
    width: 300px;
  }
  .footer_column{
    width: 130px;
    margin: 23px 20px 0 -50px;
  }
  .footer_column li{
    display: block;

  }
}
@media (min-width: 450px) and (max-width: 600px) {

  .container{
    width: 420px;
    padding: 35px 10px;
  }
  .menu_img {
    height: 40px;
    padding: 0;
    width: 40px;
}
.enter {
    color: #114fe5;
    display: flex;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 1px;
    margin: -40px 360px;
    right: 25px;
    width: 50px;
    }
    .enter_img {
        height: 30px;
        margin: 0;
        width: 50px;
    }

    .logo {
        display: inline;
        height: 30px;
        margin: 10px 25px;
        width: 140px;
    }
    .currency_table_mobile {
        width: 350px;
    }
    .currency_table_title span {
        margin: 12px 0 17px 130px;
    }

    .currency_table_mobile input {
          width: 320px;
        }

      .currency_payment {
          width: 200px;
      }

    .currency_select {
      margin: 9px 0 0 3px;
      width: 90px;
    }
    .contact_target {
    margin: 10px 20px;
    }

    .contact_target_select {
          margin: 10px 0;
        }
    .client_contact {
      margin: 10px 20px;
    }

    .client_contact input {
     margin: 5px 0;
   }
   .contact_line {
    margin: 100px auto 0;
    width: 380px;
  }

  article {
      width: 380px;
      margin-bottom: 15px;
  }
  .article_title {
    margin: -13px 50px 0;
  }
  .column{
    width: 350px;
  }

  .socials_mobile span {
      font-size: 20px;
      margin: auto 40px 17px 125px;
  }
    .socials_mobile li {
      background-repeat: no-repeat;
      background-size: 70px auto;
      height: 70px;
      width: 70px;
  }
    .socials_mobile ul {
      margin: 15px 30px;
  }
    nav {
      width: 400px;
  }
    nav ul {
      margin: 5px 25px 0;
  }
    .footer_column {
      margin: 23px 20px 0 -20px;
  }
}

.dashed_border {
  position: relative;
  border-bottom: 1px dashed #fff;
}


.dashed_border::before {
  content:"";
  border-top:2px dashed #FFF;
  position: absolute;
  top:0;
  left:6px;
  right:0;
  width: 100%;
  height: 1px;
  z-index: 2;
}
.dashed_border:after {
   content:"";
   position: absolute;
   bottom: -1.2px;
   left: -3px;
 }
.dashed_border::after {
   right: -3px;
   height: 1px;
   background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(102, 102, 102, 0)), color-stop(49%, #666666), color-stop(100%, rgba(102, 102, 102, 0)));
  background-image: -webkit-linear-gradient(to right, rgba(102, 102, 102, 0), #666666 49%, rgba(102, 102, 102, 0));;
   background-image: -moz-linear-gradient(to right, rgba(102, 102, 102, 0), #666666 49%, rgba(102, 102, 102, 0));;
   background-image: -o-linear-gradient(to right, rgba(102, 102, 102, 0), #666666 49%, rgba(102, 102, 102, 0));;
   background-image: -ms-linear-gradient(to right, rgba(102, 102, 102, 0), #666666 49%, rgba(102, 102, 102, 0));;
   background-image: linear-gradient(.dashed_border {
     position: relative;
     border-bottom: 3px dashed #fff;
   }
}
